body {

    background-color: rgb(235, 225, 225);
    color: rgb(0, 0, 0);
    text-align: center;
}


div {
    border-width: 2px;
    border-color: black;
}

.cell {


    background: linear-gradient(to top, #5d4d4d, #857575, #5d4d4d, #554a4a, #5d4d4d, #9f8d8e, #9f8d8e);
    cursor: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    background-color: darkgray;


}

h3 {
    color: brown;
    font-size: small;
    margin: auto;

}

h2 {

    text-align: center;
    font-size: medium;
    font-style: initial;
}

.cellOnClick {
    margin: auto;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(203, 156, 80);
    background-color: lightgray
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    size: 500px;
}

footer {
    font-size: smaller;
    margin-top: 100px;
}

button {
    border-radius: 30px;
}

.modal {

    margin: auto;
    background-color: blue;
    color: beige;
    font-size: x-large;

    padding: 35px;
}

.hidden {
    display: none;
}

.mark {
    padding: 10px;

}

.mine {
    padding: 10px;
}