body {

    background-color: rgb(235, 225, 225);
    color: rgb(0, 0, 0);
    text-align: center;
}


div {
    border-width: 2px;
    border-color: black;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    color: aqua;
    background-color: darkgray;
}

h3 {
    color: brown;
    font-size: small;
    margin: auto;

}

h2 {

    text-align: center;
    font-size: medium;
    font-style: initial;
}

.cellOnClick {

    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    color: rgb(227, 76, 227);
    background-color: lightgray
}

h1 {
    text-align: center;
}

table {
    margin: auto;
    size: 500px;
}

footer {
    font-size: smaller;
    margin-top: 100px;
}

button {
    border-radius: 30px;

}


.modal {

    margin: auto;
    background-color: blue;
    font-size: x-large;

}

.hidden {
    display: none;
}